<div class="media">
  <div class="media-left">
    <%= gravatar_for user, size: Settings.avatar.size_small, class: "media-object" %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= link_to user.name, user %></h4>
    <p>
      <% if logged_in? && current_user.admin? && !current_user.current_user?(user) %>
        <%= link_to t("delete"), user, method: :delete, data: {confirm: t("confirm_delete")} %>
      <% end %>
    </p>
  </div>
</div>
